@font-face {
  font-family: norse-bold;
  src: url(./assets//fonts/Norse-Bold.otf);
}

:root {
  --primary-color: #FFF;
  --secondary-color: #000;
  --background-default-color: #F9FAFB;
}

body {
  display: flex;
  font-family: sans-serif;
}

.header {
  position: relative;
  height: 100vh;
  background-image: url('./assets/images/header-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 40vw;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.logo {
  background-color: rgba(10, 10, 10, 0.4);
  margin-top: 220px;
  width: 100%;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__img {
  width: 80px;
}

.logo__title {
  color: var(--primary-color);
  font-size: 5rem;
  text-transform: uppercase;
  font-family: norse-bold, sans-serif;
}

.attribute {
  position: absolute;
  bottom: 10px;
  font-size: 0.9rem;
}

.attribute__text, .attribute__link {
  color: var(--primary-color);
}

.main {
  background-color: var(--background-default-color);
  width: 60vw;
  display: flex;
  flex-direction: column;
}

.section {
  padding: 180px 180px 60px 40px;
}

.section__text {
  font-size: 1.5rem;
  font-weight: bold;
}

.section__text:last-child {
  margin-top: 40px;
}

.form {
  width: 100%;
  padding: 20px 40px;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  color: #2E3744;
}

.form__title {
  font-size: 1.5rem;
  font-weight: bold;
}

.form__input-group {
  margin-top: 30px;
  display: flex;
}

.input-group__left {
  margin-right: 60px;
}

.form__item {
  display: flex;
  flex-direction: column;
} 

.form__input {
  height: 28px;
  border: 1px solid #f1eff1;
  margin-top: 4px;
  border-radius: 5px;
  padding: 8px;
}

.form__input:focus {
  outline: none;
}

.form__span {
  margin-top: 4px;
  font-size: 0.8rem;
  color: red;
  visibility: hidden;
  transition: visibility 0s, opacity 0.5s linear;
  opacity: 0;
}

.form__input:invalid:not(:focus):not(:placeholder-shown) {
  border: 1px solid red;
}

.form__input:invalid:not(:focus):not(:placeholder-shown) + .form__span {
  visibility: visible;
  opacity: 1;
}

.form__input[name="last-name"]:focus {
  border: 1px solid blue;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form__item:not(:first-child) {
  margin-top: 10px;
}

.form__label {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.form__button-group {
  display: flex;
  flex-direction: column;
  padding: 30px 0px;
}

.form__submit-button {
  width: 220px;
  height: 50px;
  background-color: #596D48;
  color: var(--primary-color);
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.form__login-text {
  margin-top: 30px;
}

.form__login-button {
  color: #596D48;
  text-decoration: none;
}


@media (max-width: 800px) {
  body {
    flex-direction: column;
  }

  .header {
    width: 100vw;
  }

  .main {
    width: 100vw;
  }

  .section {
    padding: 50px 40px;
  }

  .form__input-group {
    flex-direction: column;
  }

  .form__item {
    margin-top: 20px;
  }
}
